.customers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer {
    background-color: darkturquoise; 
    border: 2px dotted green;
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.customer_footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.customer_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
